body {
    background-color: #eeeeee;
    color: #232323;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

body.dark-mode {
    background-color: #333A41;
    color: #eeeeee;
}

.navbar {
    width: 100%;
}

.navbar-brand {
    color: #eeeeee;
    padding: 10px;
    font-size: 24px;
}

.navbar-brand:hover {
    color: #eeeeee;
}

.nav-link {
    color: #eeeeee;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 10px;
}

.nav-link:hover {
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    color: #232323;
}

body.dark-mode .nav-light .navbar-brand,
body.dark-mode .nav-light .nav-link {
    color: #eeeeee;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2em;
}

.text-container {
    text-align: left;
}

.profile-pic {
    border: 2px solid #232323;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 1em;
}

body.dark-mode .profile-pic {
    border: 2px solid #eeeeee;
}

.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-outline-light.ms-3 {
    margin-top: 6px;
}

.dark-mode .card {
    background-color: #6A757E;
    border-color: #333A41;
}

.project-card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .btn-primary {
    margin-top: auto;
}

.card-date {
    font-size: 15px;
    margin-top: -8px;
}
